html,body {
  background-color: black;
}
figure{
    text-align: center;
}
figcaption{
color: azure;
text-align: center;

}
ul{
  display: flex;
  list-style-type: none;
}
button{
    background-color: aquamarine;
    width: 150px;
    height: 50px;
    margin-left: 1rem;
    margin: a;

}
